body {
    background-color: hsl(0,0.0%,94.9%)!important; 
}

#navbar {
    /* background-color: rgb(242, 242, 242); */
    background-color: rgb(11, 24, 36);
}

a.nav-link {
    color: rgb(21, 123, 189);
}

span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2821, 123, 189, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.nav-item {
    display: flex;
}

.nav-item div {
    display: flex;
    align-items: center;
    padding-top: 1px;
    padding-right: 3px;
    padding-left: 3px;
    color: white;
    border-radius: 5px;
    width: 36px;
}

#allBooksCount {
    background-color: rgb(21, 123, 189);
    background-image: linear-gradient(rgb(242, 242, 242), rgb(21, 123, 189), rgb(242, 242, 242));
}

#readCount {
    background-color: rgb(66, 207, 0);
    background-image: linear-gradient(rgb(242, 242, 242), rgb(66, 207, 0), rgb(242, 242, 242));
}

#notStartedCount {
    background-color: rgb(207, 41, 0);
    background-image: linear-gradient(rgb(242, 242, 242), rgb(207, 41, 0), rgb(242, 242, 242));
}

li.nav-item {
    border: 1px rgb(95, 132, 156, 0.1) solid;
    margin-right: 3px;
}

a.nav-link {
    width: 105px;
}

.book {
    background-color:whitesmoke;
    padding: 50px 2px;
    border-radius: 5px;
}



.title {
    /* color: rgb(154, 178, 247); */
    color: rgb(21, 123, 189);
    font-size: 2rem;
    font-family: 'Satisfy', cursive;
    background-color: rgb(19, 14, 14, 0.7);
    /* box-shadow: inset 0 0 0 500px  rgba(236, 234, 234, 0.7); */

}

.bottom {
    display: flex;
    justify-content: space-around;
}

.author, .pages, .dateAdded {
    font-size: 1.1rem;
    font-weight: 500;
}

button {
    background-color: rgb(21, 123, 189) !important;
}

.read, .notRead {
    text-align: center;
    color: white;
    background-position: cover;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0 500px  rgba(44, 42, 42, 0.7);
}

.read {
    border-right: solid 10px rgb(66, 207, 0, 0.8);
    background-image: url(reading.jpeg);
}

.notRead {
    border-right: solid 10px rgb(207, 41, 0, 0.8);
    background-image: url(notRead2.jpeg);
}

.container .row {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

.book {
    margin-right: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
}






/* body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;} */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    position: fixed;
    right: 28px;
    bottom: 23px;
    color: rgb(21, 123, 189);
    background-color: transparent !important;
    border: none;
    opacity: 0.8;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
