#navbar {
    background-color: rgb(242, 242, 242);
}

a.nav-link {
    color: rgb(21, 123, 189);
}

span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2821, 123, 189, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.nav-item {
    display: flex;
}

.nav-item div {
    display: flex;
    background-color: rgb(21, 123, 189);
    align-items: center;
    padding-top: 1px;
    padding-right: 3px;
    padding-left: 3px;
    background-image: linear-gradient(rgb(242, 242, 242), rgb(21, 123, 189), rgb(242, 242, 242));
    color: white;
    border-radius: 5px;
}


